<form [formGroup]="form">
  <div class="input-container">
    <p class="input-label">Title</p>
    <input type="text"
           class="input"
           formControlName="title" />
  </div>

  <div class="input-container">
    <p class="input-label">Date</p>
    <input type="date"
           class="input"
           formControlName="date" />
  </div>

  <div class="input-container">
    <p class="input-label">Content</p>
    <div class="input dummy-input"></div>
  </div>
  <div>
    <jtdc-tiny-mce [uniqueFieldName]="'post-content'"
                   [initialContent]="post.content"
                   formControlName="content">
    </jtdc-tiny-mce>
  </div>

  <button class="jtdc-button save"
          type="button"
          (click)="save()">
    Save
  </button>

  <button *ngIf="post.id"
          class="jtdc-button delete"
          type="button"
          (click)="delete()">
    Delete
  </button>
</form>

<jtdc-post *ngIf="previewPost"
           [post]="previewPost">
</jtdc-post>
