@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

$nav-height: 46px;
$mobile-nav-height: 30px;

$std-text-color: rgb(170, 155, 150);
$std-text-hover-color: rgb(50, 40, 40);
$std-header-text-color: rgb(230, 225, 240);
$std-header-hover-color: rgb(180, 185, 235);
$std-link-color: rgb(130, 130, 180);
$std-link-hover-color: rgb(160, 160, 220);

$std-border-radius: 8px;

@mixin std-transition {
    transition: all 0.6s;
}

@mixin std-button {
    @include std-transition;
    border-radius: $std-border-radius;
    background-color: transparent;
    border-width: 3px;
    border-color: $std-text-color;
    color: $std-text-color;
    border-style: solid;
    line-height: 2em;
}

@mixin std-button-hover {
    color: $std-text-hover-color;
    background-color: $std-text-color;
}

@mixin home-fade-in($seconds) {
    animation: home-fade-in $seconds;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
    color: $std-text-color;
    background-color: black;
}

a {
    @include std-transition;
    text-decoration: none;
    color: $std-link-color;
}

a:hover {
    color: $std-link-hover-color;
}

a:visited {
    color: $std-link-color;
}

a:visited:hover {
    color: $std-link-hover-color;
}

button {
    font-family: inherit;
    cursor: pointer;
}

button:focus {
    outline: none;
}

ul {
    @media only screen and (max-width: 700px) {
        padding-left: 15px;
    }
}

div.nav-wrapper {

    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    
    nav {

        a {
            @include std-transition;
            width: 150px;
            font-size: 1.15em;
            text-align: center;
            display: inline-block;
            height: 100%;
            line-height: $nav-height;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            color: $std-text-color;
        
            span {
                display: inline-block;
                line-height: normal;
            }
    
            @media only screen and (max-width: 700px) {
                @include std-button();
                display: block;
                margin: 10px 0;
            }

            &:visited {
                color: $std-text-color;
            } 

            &:hover {
                background-color: rgb(210, 210, 210);
                color: $std-text-hover-color;
    
                @media only screen and (max-width: 700px) {
                    @include std-button-hover();
                }
            }

            &:visited:hover {
                background-color: rgb(210, 210, 210);
                color: $std-text-hover-color;

                @media only screen and (max-width: 700px) {
                    @include std-button-hover();
                }
            }

            &.active-nav-link {
                color: white;
                
                @media only screen and (min-width: 700px) {
                    border-bottom: 1px solid rgb(150, 150, 150);
                }
            }
        }
        

        @media only screen and (max-width: 700px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .mobile-nav-button {

        display: none;
        border-bottom-left-radius: 0px;
        cursor: pointer;
        font-size: 0.9em;
        line-height: $mobile-nav-height;
        text-align: left;
        padding-left: 8px;

        svg {
            margin-right: 5px;
        }
    
        @media only screen and (max-width: 700px) {
            display: block;
        }
    }    

}

.auth-button {
    @include std-button();
    position: fixed;
    top: 0;
    right: 0;
    padding: 3px 12px;
    border-top: none;
    border-right: none;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;

    &:hover {
        @include std-button-hover();
    }
}

.content {
    padding-top: $nav-height;

    @media only screen and (max-width: 700px) {
        padding-top: $mobile-nav-height;
    }
}

@keyframes home-fade-in {
    from { 
        color: transparent;
        border-color: transparent;
    }
    to { 
        color: $std-text-color;
        border-color: $std-text-color;
    }
}

.home-heading-section {

    text-align: center;

    .home-title {

        @include home-fade-in(3s);    
        font-size: 5em;
        margin-top: 0.3em;
        margin-bottom: 0.2em;
    
        @media only screen and (max-width: 1024px) {
            font-size: 4em;
        }
        
        @media only screen and (max-width: 700px) {
            font-size: 3em;
            margin-top: 0;
        }
        
        @media only screen and (max-width: 400px) {
            font-size: 2.3em;
            display: inline;
        }

        @media only screen and (max-width: 1024px) and (orientation: landscape) {
            font-size: 3em;
            margin-top: 0;
        }

        @media only screen and (max-width: 700px) and (orientation: landscape) {
            font-size: 2.3em;
        }
    }

    .who-button-container {

        display: block;
        text-align: center;
    
        @media only screen and (max-width: 400px) {
            display: inline-block;
            margin-left: 12px;
        }

        .who-button {
            @include home-fade-in(2s);
            @include std-button;
            font-size: 1.3em;
            width: 100px;
                
            @media only screen and (max-width: 1024px) {
                font-size: 1em;
            }
        
            @media only screen and (max-width: 700px) {
                font-size: 0.9em;
            }
            
            @media only screen and (max-width: 1024px) and (orientation: landscape) {
                font-size: 0.9em;
            }
        }

        .who-button:hover {
            @include std-button-hover;
        }
    }

    @media only screen and (max-width: 400px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@mixin home-content-wrapper {
    position: fixed;
    opacity: 1;
    top: 0;
    height: 100%;
    z-index: -5;
}

.who-content-wrapper {
    @include home-content-wrapper;
}

.who-content {
    position: absolute;
    transform: translate(0, -50%); 
    font-size: 1.1em;
    
    @media only screen and (max-width: 1024px) {
        font-size: 0.9em;
    }

    @media only screen and (max-width: 812px) and (orientation: landscape) {
        font-size: 0.7em;
    }

    @media only screen and (max-width: 700px) {
        font-size: 0.7em;
    }
}

.wot-button-container {
    position: fixed;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: -6;
}

.wot-button {
    @include std-transition;
    @include home-fade-in(3s);
    color: $std-text-color;
    background-color: transparent;
    display: inline-block;
    font-size: 5em;
    border-style: none;
    cursor: pointer;
    
    @media only screen and (max-width: 1024px) {
        font-size: 4em;
    }

    @media only screen and (max-width: 812px) and (orientation: landscape) {
        font-size: 3em;
    }

    @media only screen and (max-width: 700px) {
        font-size: 3em;
    }
}

.wot-button:hover {
    background-color: rgba(200, 150, 150, 0.1);
}

.wot-content-wrapper {
    @include home-content-wrapper;
    width: 100%;
}

.wot-content {
    position: absolute;
    transform: translate(0, -50%); 
    font-size: 1.2em;

    @media only screen and (max-width: 1024px) {
        font-size: 1em;
    }

    @media only screen and (max-width: 812px) and (orientation: landscape) {
        font-size: 0.8em
    }

    @media only screen and (max-width: 700px) {
        font-size: 0.8em
    }
}

.wot-heading {
    font-weight: bold;
}

.fractal-animation {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
    background-color: rgb(210, 200, 195);
}

.post-list-wrapper {
    margin: 1em auto 0 auto;
    width: 1024px;
    font-size: 1.1em;
    
    h1.post-list-title {
        font-size: 3em;
        color: $std-header-text-color;
    }
    
    .post {
        border: 2px solid rgb(50, 45, 40);
        padding: 0 12px;

        background-color: rgb(12, 10, 8);
        border-radius: 3px;
        margin-top: 20px;

        box-shadow: 0px 0px 10px 5px rgb(10, 8, 6);
    
        .post-header-row {
            
            display: flex;
            justify-content: space-between;
            color: $std-header-text-color;

            .post-header {
                @include std-transition();
                margin: 0.4em 0;
                font-weight: normal;
                cursor: pointer;

                &:hover {
                    color: $std-header-hover-color;
                }
            }

            .post-header-date-container {
                text-align: right;
                margin: 0.6em 0;
            }
        }

    }
    
}
