@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

$nav-height: 45px;
$nav-border-width: 1px;

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    color: rgb(30, 20, 20);
}

nav {
    border-bottom: $nav-border-width rgb(200, 200, 200) solid;
    background-color: rgba(245, 245, 245, 150);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;

    a {
        width: 10%;
        font-size: 1.2em;
        text-align: center;
        display: inline-block;
        transition: all 0.6s;
        text-decoration: none;
        height: $nav-height - $nav-border-width;
        line-height: $nav-height - $nav-border-width;

        span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }

    a:visited {
        color: inherit;
    }

    a:hover {
        background-color: rgba(230, 230, 230, 150);
    }
}

.content {
    padding-top: $nav-height;
}

h1.home-title {
    text-align: center;
    font-size: 5em;
    color: rgba(120, 100, 100, 150);
}

.fractal-animation {
    height: -webkit-calc(100% -  #{$nav-height});
    height: -moz-calc(100% - #{$nav-height});
    height: calc(100% - #{$nav-height});
    width: 100%;
    position: fixed;
    top: $nav-height;
    z-index: -1;
}